<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Asset Category Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of assetCategoryList">
      <td>{{item.categoryName}}</td>
      <td>{{item.description}}</td>
      <td>
        <div>
          <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target=".bd-example-modal-lg"
            (click)="Edit(item)">
            <i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target=".modal-Asset-catagory-del" (click)="copyDelete(item)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- Edit modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h5 class="modal-title">Edit Asset Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-edit-aset-category></app-edit-aset-category>
      </div>
    </div>
  </div>
</div>


<!-- Delete modal -->

<div class="modal fade modal-Asset-catagory-del" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-2">
      <div class="modal-header border-bottom-0" *ngIf="copyDeleteItem">
        <h5 class="modal-title">Are you sure to delete {{copyDeleteItem.categoryName}}</h5>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger mr-2" (click)="deleteAssetCategory()">Ok</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel </button>
      </div>
    </div>
  </div>
</div>
