<div class="justify-content-center">

  <form class="col-12" [formGroup]="userForm" (ngSubmit)="editUser()">

    <!-- 1st row -->
    <div class="row">

      <!-- first name -->
      <div class="col-6">
        <div class="form-group">
          <label for="firstName"> First Name<span class="mandetory">*</span></label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName"
            maxlength="{{maxLen.firstName}}">
        </div>
      </div>

      <!-- Last name -->
      <div class="col-6">
        <div class="form-group">
          <label for="lastName">Last Name <span class="mandetory">*</span></label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName"
            maxlength="{{maxLen.lastName}}">
        </div>
      </div>

    </div>

    <!-- 2nd row -->
    <div class="row">

      <!-- Phone number -->
      <div class="col-6">
        <div class="form-group">
          <label for="phoneNumber">Phone Number <span class="mandetory">*</span></label>
          <input type="text" class="form-control" id="phone Number" formControlName="phoneNumber"
            maxlength="{{maxLen.phoneNumber}}">
        </div>
      </div>

      <!-- Country -->
      <div class="col-6">
        <div class="form-group">
          <label for="country">Country <span class="mandetory">*</span></label>
          <select id="country" name="country" class="form-control text-center" placeholder="Select Country"
            formControlName="country" (change)="Filter($event.target.value)">
            <option style="font-size: 16px !important;" value="">Select country</option>
            <option *ngFor="let country of countries" [value]="country.name" class="form-control-sm">
              {{country.name}}
            </option>
          </select>
        </div>
      </div>

    </div>

    <!-- 3rd row -->
    <div class="row">

      <!-- State -->
      <div class="col-6">
        <div class="form-group">
          <label for="state">State <span class="mandetory">*</span></label>
          <select id="state" name="state" class="form-control input-custom-control" formControlName="state"
            (change)="selectedState($event.target.value)">
            <option *ngFor="let state of states" [value]="state.name" class="form-control input-custom-control-sm">
              {{state.name}}
            </option>
          </select>
        </div>
      </div>

      <!-- City -->
      <div class="col-6">
        <div class="form-group">
          <label for="city">City <span class="mandetory">*</span></label>
          <select id="city" name="city" class="form-control text-center" formControlName="city">
            <option *ngFor="let city of cities" [value]="city.name" class="form-control input-custom-control-sm">
              {{city.name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- 4th row Role -->
    <div class="row">

      <div class="col-12 form-group">
        <label for="role"> Role<span class="mandetory">*</span></label>
        <select id="role" name="role" class="form-control text-center" formControlName="role"
          (change)="selectedRolename($event.target.value)">
          <option value="">Select Role</option>
          <option *ngFor="let role of roles" [value]="role.name" class="form-control-sm">
            {{role.name}}
          </option>
        </select>
      </div>

    </div>

    <!-- 5th row Permission -->
    <div class="row">

      <div class="col-2">
        <label for="permission" class="col-sm-2 col-form-label my-auto"><strong>Permissions</strong></label>
      </div>

      <div class="col-10">
        <div class="form-check form-check-inline" formArrayName="permissions"
          *ngFor="let permission of userForm.controls.permissions?.value;let i = index;">
          <input class="form-check-input" type="checkbox" id="per{{i}}" [value]="permission.name"
            [checked]="permission.checked" (change)="onCheckboxChange($event,i);">
          <label class="form-check-label" for="per{{i}}">{{permission.name}}</label>
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary btn-sm float-right">Update</button>
  </form>
</div>