<form [formGroup]="edit_Role" (ngSubmit)="sendEditRole()">
  <div class="form-group row">
    <label for="roleName" class="col-sm-2 col-form-label">Role Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="roleName" formControlName="name" placeholder="Role Name" autocomplete="off">
    </div>
  </div>

  <!-- <div class="form-group row">
    <label for="aliasName" class="col-sm-2 col-form-label">Role alias Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="aliasName" formControlName="aliasName">
    </div>
  </div> -->

  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <textarea name="description" cols="30" rows="5" class="form-control" id="description"
        formControlName="description" placeholder="Description" autocomplete="off"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="permission" class="col-sm-2 col-form-label">Permissions</label>
    <div class="col-sm-10" formArrayName="permissions">
      <div class="form-check form-check-inline"
        *ngFor="let permission of edit_Role.controls.permissions?.value;let i = index;">
        <div [formGroupName]="i">
          <input class="form-check-input" type="checkbox" id="per{{i}}" [value]="permission"
            [checked]="permission.checked" (change)="onCheckboxChange($event,i);">
          <label class="form-check-label" for="per{{i}}">{{permission.name}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-sm text-capitalize" [disabled]="loading">
      <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
      update</button>
  </div>
</form>
