:root {
  /* nav bar variables */
  --navBar-bg: #F5F5F5;
  --navBar-height: 70px;
  --navBar-title: 1.2rem;
  --narBar-bottom-margin: 8px;

  /* side bar variables */
  --sideBar-logo-bg: #374559;
  --sideBar-list-bg: #374559;
  --sideBar-list-color: #bdbdbd;
  --sideBar-width: 250px;
}