<div class="container-fluid">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- 1st row -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="FirstName"
          formControlName="firstName" autocomplete="off" minlength="1" maxlength="16">
        <div *ngIf="f.firstName.invalid && f.firstName.touched" class="text-danger">
          <div *ngIf="f.firstName.errors?.required">
            <small>firstName is required</small>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
          formControlName="lastName" autocomplete="off" minlength="1" maxlength="16">
        <div *ngIf="f.lastName.invalid && f.lastName.touched" class="text-danger">
          <div *ngIf="f.lastName.errors?.required">
            <small>lastName is required</small>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd Row -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="userName"
          formControlName="userName" autocomplete="off" minlength="6">
        <div *ngIf="f.userName.invalid && f.userName.touched" class="text-danger">
          <div *ngIf="f.userName.errors?.required">
            <small>userName is required</small>
          </div>
          <div *ngIf="f.userName.errors?.minlength">
            <small>userName must be atleast 6 characters</small>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="emailId">emailId</label>
        <input type="email" class="form-control" id="emailId" name="emailId" placeholder="emailId"
          formControlName="emailId" autocomplete="off">
        <div *ngIf="f.emailId.invalid && f.emailId.touched" class="text-danger">
          <div *ngIf="f.emailId.errors?.required">
            <small>emailId is required</small>
          </div>
          <div *ngIf="f.emailId.errors?.pattern">
            <small>Invalid Email</small>
          </div>
        </div>
      </div>
    </div>
    <!-- 3rd row -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="password"
          formControlName="password" autocomplete="off" minlength="8" maxlength="16">
        <div *ngIf="f.password.invalid && f.password.touched" class="text-danger">
          <div *ngIf="f.password.errors?.required">
            <small>password is required</small>
          </div>
          <div *ngIf="f.password.errors?.minlength">
            <small>password must be atleast 8 characters</small>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="phoneNumber">phoneNumber</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber"
          formControlName="phoneNumber" autocomplete="off" appNumbersOnly minlength="10" maxlength="10">
        <div *ngIf="f.phoneNumber.invalid && f.phoneNumber.touched" class="text-danger">
          <div *ngIf="f.phoneNumber.errors?.required">
            <small>phoneNumber is required</small>
          </div>
          <div *ngIf="f.phoneNumber.errors?.minlength">
            <small>phoneNumber must be 10 digits</small>
          </div>
        </div>
      </div>
    </div>

    <!-- 4th row -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <select id="country" name="country" class="form-control text-center" placeholder="Select Country"
          formControlName="country" (change)="Filter($event.target.value)">
          <option style="font-size: 16px !important;" value="">Select country</option>
          <option *ngFor="let country of countries" [value]="country.name" class="form-control-sm">
            {{country.name}}
          </option>
          <div *ngIf="f.country.invalid && f.country.touched" class="text-danger">
            <div *ngIf="f.country.errors?.required">
              <small>country is required</small>
            </div>
          </div>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="state">State</label>
        <select id="state" name="state" class="form-control input-custom-control" formControlName="state"
          (change)="selectedState($event.target.value)">
          <option value="">Select state</option>
          <option *ngFor="let state of states" [value]="state.name" class="form-control input-custom-control-sm">
            {{state.name}}
          </option>
        </select>
        <div *ngIf="f.state.invalid && f.state.touched" class="text-danger">
          <div *ngIf="f.state.errors?.required">
            <small>state is required</small>
          </div>
        </div>
      </div>
    </div>

    <!-- 5th row -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="country">City</label>
        <select id="city" name="city" class="form-control text-center" formControlName="city">
          <option value="">Select city</option>
          <option *ngFor="let city of cities" [value]="city.name" class="form-control input-custom-control-sm">
            {{city.name}}
          </option>
        </select>
        <div *ngIf="f.city.invalid && f.city.touched" class="text-danger">
          <div *ngIf="f.city.errors?.required">
            <small>city is required</small>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="roleName">Role</label>
        <select id="roleName" name="roleName" class="form-control text-center" formControlName="roleName"
          (change)="selectRolename($event.target.value);">
          <option value="">Select role</option>
          <option *ngFor="let role of roles" [value]="role.name" class="form-control-sm">
            {{role.name}}
          </option>

        </select>
        <div *ngIf="f.roleName.invalid && f.roleName.touched" class="text-danger">
          <div *ngIf="f.roleName.errors?.required">
            <small>role is required</small>
          </div>

        </div>
      </div>
    </div>

    <!-- 6th row -->
    <div class="form-group row">
      <label for="permission" class="col-sm-2 col-form-label">Permissions</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline" formArrayName="permissions" *ngFor="let permission of userForm.controls.permissions?.value;let i = index;">
          <input class="form-check-input" type="checkbox" id="per{{i}}" [value]="permission.name" [checked]="permission.checked"
            (change)="onCheckboxChange($event,i);">
          <label class="form-check-label" for="per{{i}}">{{permission.name}}</label>
        </div>
      </div>
    </div>

    <!--  <div class="form-group row">
            <div class="col-md-12">
                <div class="form-check form-check-inline" *ngFor="let permission of permissions">
                    <input class="form-check-input ml-5" type="checkbox" id="permissins" value="permissins">
                    <label class="form-check-label" for="permissins">P1</label>
                </div>
            </div>

        </div> -->
    <button type="submit" class="btn btn-primary ">
      <span class="spinner-border spinner-border-sm" *ngIf="spin" role="status" aria-hidden="true"></span>
      Create User</button>
  </form>
</div>
