<!-- Component Title -->
<h3 class="text-capitalize text-center">create User</h3>

<!-- Form Starts -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <!-- 1st row -->
  <div class="form-row">

    <!-- First Name -->
    <div class="form-group col-md-6">
      <label for="firstName">{{validation.firstName.label}}</label>
      <input type="text" class="form-control" id="firstName" name="firstName"
        placeholder="{{validation.firstName.label}}" formControlName="firstName" autocomplete="off"
        minlength="{{validation.firstName.minLength}}" maxlength="{{validation.firstName.maxLength}}">
      <div *ngIf="f.firstName.invalid && f.firstName.touched" class="text-danger">
        <div *ngIf="f.firstName.errors?.required">
          <small>{{validation.firstName.err_msg_required}}</small>
        </div>
        <div *ngIf="f.firstName.errors?.minlength">
          <small>{{validation.firstName.err_msg_minLength}}</small>
        </div>
      </div>
    </div>

    <!-- Last Name -->
    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
        formControlName="lastName" autocomplete="off" maxlength="{{validation.lastName.maxlength}}">
      <div *ngIf="f.lastName.invalid && f.lastName.touched" class="text-danger">
        <div *ngIf="f.lastName.errors?.required">
          <small>{{validation.lastName.err_msg_required}}</small>
        </div>
      </div>
    </div>

  </div>

  <!-- 2nd Row -->
  <div class="form-row">

    <!-- User Name -->
    <div class="form-group col-md-6">
      <label for="userName">{{validation.userName.label}}</label>
      <input type="text" class="form-control" id="userName" name="userName" placeholder="{{validation.userName.label}}"
        formControlName="userName" autocomplete="off" minlength="{{validation.userName.minlength}}"
        maxlength="{{validation.userName.maxlength}}">
      <div *ngIf="f.userName.invalid && f.userName.touched" class="text-danger">
        <div *ngIf="f.userName.errors?.required">
          <small>{{validation.userName.err_msg_required}}</small>
        </div>
        <div *ngIf="f.userName.errors?.minlength">
          <small>{{validation.userName.err_msg_minLength}}</small>
        </div>
      </div>
    </div>

    <!-- Email Id -->
    <div class="form-group col-md-6">
      <label for="emailId">{{validation.emailId.label}}</label>
      <input type="email" class="form-control" id="emailId" name="emailId" placeholder="{{validation.emailId.label}}"
        formControlName="emailId" autocomplete="off">
      <div *ngIf="f.emailId.invalid && f.emailId.touched" class="text-danger">
        <div *ngIf="f.emailId.errors?.required">
          <small>{{validation.emailId.err_msg_required}}</small>
        </div>
        <div *ngIf="f.emailId.errors?.pattern">
          <small>{{validation.emailId.err_msg_pattern}}</small>
        </div>
      </div>
    </div>

  </div>

  <!-- 3rd row -->
  <div class="form-row">

    <!-- Password -->
    <div class="form-group col-md-6">
      <label for="password">{{validation.password.label}}</label>
      <input type="password" class="form-control" id="password" name="password"
        placeholder="{{validation.password.label}}" formControlName="password" autocomplete="off"
        minlength="{{validation.password.minLength}}" maxlength="{{validation.password.maxLength}}">
      <div *ngIf="f.password.invalid && f.password.touched" class="text-danger">
        <div *ngIf="f.password.errors?.required">
          <small>{{validation.password.err_msg_required}}</small>
        </div>
        <div *ngIf="f.password.errors?.minlength">
          <small>{{validation.password.err_msg_minLength}}</small>
        </div>
      </div>
    </div>

    <!-- Phone Number -->
    <div class="form-group col-md-6">
      <label for="phoneNumber">{{validation.phoneNumber.label}}</label>
      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
        placeholder="{{validation.phoneNumber.label}}" formControlName="phoneNumber" autocomplete="off" appNumbersOnly
        minlength="{{validation.phoneNumber.minLenght}}" maxlength="{{validation.phoneNumber.maxLenght}}">
      <div *ngIf="f.phoneNumber.invalid && f.phoneNumber.touched" class="text-danger">
        <div *ngIf="f.phoneNumber.errors?.required">
          <small>{{validation.phoneNumber.err_msg_required}}</small>
        </div>
        <div *ngIf="f.phoneNumber.errors?.minlength">
          <small>{{validation.phoneNumber.err_msg_minLength}}</small>
        </div>
      </div>
    </div>

  </div>

  <!-- 4th row -->
  <div class="form-row">

    <!-- Country Selection -->
    <div class="form-group col-md-6">
      <label for="country">{{validation.country.label}}</label>
      <select id="country" name="country" class="form-control text-center" formControlName="country"
        (change)="Filter($event.target.value)">
        <option value="">Select Country</option>
        <option *ngFor="let country of countries" [value]="country.name" class="form-control-sm">
          {{country.name}}
        </option>
        <div *ngIf="f.country.invalid && f.country.touched" class="text-danger">
          <div *ngIf="f.country.errors?.required">
            <small>{{validation.country.err_msg_required}}</small>
          </div>
        </div>
      </select>
    </div>

    <!-- State Selection -->
    <div class="form-group col-md-6">
      <label for="state">{{validation.state.label}}</label>
      <select id="state" name="state" class="form-control text-center" formControlName="state"
        (change)="selectedState($event.target.value)">
        <option value="">Select State</option>
        <option *ngFor="let state of states" [value]="state.name" class="form-control-sm">
          {{state.name}}
        </option>
      </select>
      <div *ngIf="f.state.invalid && f.state.touched" class="text-danger">
        <div *ngIf="f.state.errors?.required">
          <small>{{validation.state.err_msg_required}}</small>
        </div>
      </div>
    </div>

  </div>

  <!-- 5th row -->
  <div class="form-row">

    <!-- City Selection -->
    <div class="form-group col-md-6">
      <label for="city">{{validation.city.label}}</label>
      <select id="city" name="city" class="form-control text-center" formControlName="city">
        <option value="">Select City</option>
        <option *ngFor="let city of cities" [value]="city.name" class="form-control-sm">
          {{city.name}}
        </option>
      </select>
      <div *ngIf="f.city.invalid && f.city.touched" class="text-danger">
        <div *ngIf="f.city.errors?.required">
          <small>{{validation.city.err_msg_required}}</small>
        </div>
      </div>
    </div>

    <!-- Role Selection -->
    <div class="form-group col-md-6">
      <label for="role">{{validation.role.label}}</label>
      <select id="role" name="role" class="form-control text-center" formControlName="role"
        (change)="selectRolename($event.target.value);">
        <option value="">Select Role</option>
        <option *ngFor="let role of roles" [value]="role.name" class="form-control-sm">
          {{role.name}}
        </option>
      </select>
      <div *ngIf="f.role.invalid && f.role.touched" class="text-danger">
        <div *ngIf="f.role.errors?.required">
          <small>{{validation.role.err_msg_required}}</small>
        </div>
      </div>
    </div>

  </div>

  <!-- 6th row Roles-->
  <div class="form-group row">
    <label for="permission" class="col-sm-2 col-form-label">Permissions</label>
    <div class="col-sm-10">
      <div class="form-check form-check-inline" formArrayName="permissions"
        *ngFor="let permission of userForm.controls.permissions?.value;let i = index;">
        <input class="form-check-input" type="checkbox" id="per{{i}}" [value]="permission.name"
          [checked]="permission.checked" (change)="onCheckboxChange($event,i);">
        <label class="form-check-label" for="per{{i}}">{{permission.name}}</label>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid || spin">
      <span class="spinner-border spinner-border-sm" *ngIf="spin" role="status" aria-hidden="true"></span>
      Submit
    </button>
  </div>

</form>

<!-- Form Ends -->