<!-- Component Title -->
<h3 class="text-capitalize text-center">create role</h3>

<!-- Form starts -->
<form [formGroup]="createRole" (ngSubmit)="sendCreateRole()">

  <!-- 1st Row -->
  <div class="form-group row">

    <!-- Label -->
    <div class="col-2">
      <label for="roleName" class="col-form-label">Role Name</label>
    </div>

    <!-- Input Control -->
    <div class="col-10">
      <input type="text" class="form-control" id="roleName" formControlName="name" placeholder="Role Name"
        autocomplete="off">

      <div *ngIf="f.name.invalid && f.name.touched" class="text-danger">
        <div *ngIf="f.name.errors?.required">
          <small>Role Name is required</small>
        </div>
      </div>
    </div>

  </div>

  <!-- 2nd Row -->
  <div class="form-group row">

    <!-- Label -->
    <div class="col-2">
      <label for="description" class="col-form-label">Description</label>
    </div>

    <!-- Textarea Control -->
    <div class="col-sm-10">
      <textarea name="description" cols="30" rows="5" class="form-control" id="description"
        formControlName="description" placeholder="Description" autocomplete="off"></textarea>

      <div *ngIf="f.description.invalid && f.description.touched" class="text-danger">
        <div *ngIf="f.description.errors?.required">
          <small>Description is required</small>
        </div>
      </div>
    </div>
  </div>

  <!-- List of Permissions -->
  <div class="form-group row">

    <!-- Label -->
    <div class="col-2">
      <label for="permission" class="col-form-label">Permissions</label>
    </div>

    <!-- Input Checkbox Control -->
    <div class="col-10">
      <div class="form-check form-check-inline" *ngFor="let permission of permissions;let i = index;">
        <input class="form-check-input" type="checkbox" id="{{i}}" [value]="permission.name"
          (change)="onCheckboxChange($event)">
        <label class="form-check-label" for="{{i}}">{{permission.name}}</label>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-sm" [disabled]="loading || createRole.invalid">
      <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
      Submit
    </button>
  </div>

</form>

<!-- Form Ends -->