<nav id="sidebar">
  <div class="sidebar-header mx-auto">
    <img src="assets/Images/logo.png" alt="Logo" width="80">
  </div>

  <ul class="list-unstyled components">
    <li>
      <a [routerLink]="[ '/dashboard' ]" routerLinkActive="active">Dashboard</a>
    </li>

    <!-- userManagement -->
    <li>
      <a href="#userManagement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User Management</a>
      <ul class="collapse list-unstyled" id="userManagement">
        <!-- permissions -->
        <li>
          <a href="#permissions" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Permissions</a>
          <ul class="collapse list-unstyled" id="permissions">
            <li>
              <a [routerLink]="[ '/user-management/permissions/permissions-list' ]"
                routerLinkActive="active">Permissions List</a>
            </li>
            <li>
              <a [routerLink]="[ '/user-management/permissions/create-permissions' ]" routerLinkActive="active">Create
                Permissions</a>
            </li>
          </ul>
        </li>
        <!-- roles -->
        <li>
          <a href="#role" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Roles</a>
          <ul class="collapse list-unstyled" id="role">
            <li>
              <a [routerLink]="[ '/user-management/roles/roles-list' ]" routerLinkActive="active">Role List</a>
            </li>
            <li>
              <a [routerLink]="[ '/user-management/roles/create-roles' ]" routerLinkActive="active">Create Roles</a>
            </li>
          </ul>
        </li>
        <!-- users -->
        <li>
          <a href="#users" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Users</a>
          <ul class="collapse list-unstyled" id="users">
            <li>
              <a [routerLink]="[ '/user-management/users/users-list' ]" routerLinkActive="active">Users List</a>
            </li>
            <li>
              <a [routerLink]="[ '/user-management/users/create-users' ]" routerLinkActive="active">Create Users</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- assertManagement -->
    <li>
      <a href="#assertManagement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Asset
        Management</a>
      <ul class="collapse list-unstyled" id="assertManagement">
        <!-- asset category -->
        <li>
          <a href="#assetCategory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Asset Category</a>
          <ul class="collapse list-unstyled" id="assetCategory">
            <li>
              <a [routerLink]="[ '/asset-management/assetcategory/asset-category-list' ]"
                routerLinkActive="active">Category
                List</a>
            </li>
            <li>
              <a [routerLink]="[ '/asset-management/assetcategory/create-asset-category' ]"
                routerLinkActive="active">Create Asset</a>
            </li>
          </ul>
        </li>
        <!-- asset Type -->
        <li>
          <a href="#assetType" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Asset Type</a>
          <ul class="collapse list-unstyled" id="assetType">
            <li>
              <a [routerLink]="[ '/asset-management/asset-type/asset-type-list' ]" routerLinkActive="active">Asset Type
                List</a>
            </li>
            <li>
              <a [routerLink]="[ '/asset-management/asset-type/add-asset-type' ]" routerLinkActive="active">Create
                Asset Type</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- site Management -->
    <li>
      <a href="#site-management" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Site
        Management</a>
      <ul class="collapse list-unstyled" id="site-management">
        <li>
          <a [routerLink]="['/site-management/site-list']" routerLinkActive="active">Site List
          </a>
        </li>
        <li>
          <a [routerLink]="['/site-management/add-site']" routerLinkActive="active"> Create Site</a>
        </li>
        <li>
          <a [routerLink]="['/site-management/site-arc' ]" routerLinkActive="active">Site Architecture</a>
        </li>
        <li>
          <a [routerLink]="['/site-management/site-req' ]" routerLinkActive="active">Site Requirement</a>
        </li>
      </ul>
    </li>

  </ul>

</nav>